body{
    background-color: white;
}

#AboutMe{
    margin-top: 65px;
    margin-bottom: 75px;
}

.navbar-logo{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#ProjectCards{
    margin-bottom: 50px;
}

.ProjectImage{
    height: 195px;
}


