#success-message {
	margin-top: 20px;
	display: none;
}

#SaveNotification{
	display: none;
	color: green;
	background-color: lightgreen;
	width: 180px;
	margin: 5px;
	border-radius: 50px;
	text-align: center;
}