body{
    background-image: url("download.jfif");
    background-color: aqua;
    color: white;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#Center{
    margin: auto;
    width: 40%;
    text-align: center;
    border: 5px solid red;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 100px;
}