
body {
    background-image: url("http://www.intrawallpaper.com/static/images/abstract-mosaic-background.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    color: #ffffff !important;
}

.jumbotron{
    color: black !important;
}

.list{
    color:black;
}

#Label{
    color: black;
}
